//  ============================Google Fonts============================
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

//  ============================Sass variables============================
$blue-1: #62b8f5;
$blue-2: #4475ef;
$blue-3: #6dd5fa;
$white: #ffffff;
$off-white: #e5e5e5;
$transp-white-1: rgba(255, 255, 255, 0.25);
$transp-white-2: rgba(255, 255, 255, 0.1);
$shadow: rgba(3, 46, 87, 0.2);

body {
  background: $blue-2;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .shape {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient($transp-white-1, $transp-white-2);
    aspect-ratio: 1;
  }
  .shape-1 {
    top: 65%;
    left: 35%;
    width: 12rem;
  }
  .shape-2 {
    bottom: 49%;
    right: 31%;
    width: 15rem;
  }
  .sub-container {
    width: 25%;
    background: $transp-white-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    padding: 4em 1.8em;
    border: 2px solid $transp-white-2;
    border-radius: 0.6em;

    .search-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      > input {
        margin: 0 1rem;
        color: $white;
        padding: 0.7rem 1rem;
        width: 70%;
        text-transform: capitalize;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 2px solid $transp-white-1;
        font-weight: 300;
      }
      > input::placeholder {
        color: $off-white;
      }
      > input:focus {
        border-color: $white;
      }
      > button {
        padding: 0.7rem 1rem;
        border: none;
        color: $blue-2;
        background-color: $white;
        border-radius: 0.3em;
      }
    }
    .city-name {
      text-align: center;
      text-transform: uppercase;
      margin: 2em 0;
      word-spacing: 3px;
      letter-spacing: 5px;
      h1 {
        color: $white;
        margin-bottom: 0.7em;
        font-weight: 500;
      }
      span,
      p {
        color: $off-white;
      }
    }
    .weather {
      display: flex;
      flex-direction: column;
      align-items: center;
      > img {
        width: 8%;
        margin-bottom: 1em;
      }
      h1 {
        color: $white;
        word-spacing: 3px;
        letter-spacing: 5px;
        font-weight: 500;
      }
      .min-max {
        display: flex;
        justify-content: center;
        margin: 1em 0;
        .min {
          padding: 0 1em;
          border-right: 1px solid $transp-white-2;
          h6 {
            color: $white;
            margin-bottom: -0.5em;
          }
          span {
            color: $off-white;
            font-size: 0.6em;
          }
        }
        .max {
          padding: 0 1em;
          border-left: 1px solid $transp-white-2;
          h6 {
            color: $white;
            margin-bottom: -0.5em;
          }
          span {
            color: $off-white;
            font-size: 0.6em;
          }
        }
      }
    }
  }
}
